@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Car Market</h1>
    <p class="lead">Car Market is a free and open source platform for publishing and sharing car offers.</p>
    <p>@Html.ActionLink("View the newest offers", "Index", "Offer", null, new { @class = "btn btn-primary btn-large" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Free</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat dui vel volutpat venenatis. 
            Sed nec mauris venenatis, congue tellus quis, facilisis mi. Curabitur ac lorem eu mauris congue viverra 
            eu ut augue. Aliquam sit amet consequat est. Donec accumsan ac tellus vel dictum.
        </p>
        <p>@Html.ActionLink("Learn more", "Index", "Offer", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Popular</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat dui vel volutpat venenatis.
            Sed nec mauris venenatis, congue tellus quis, facilisis mi. Curabitur ac lorem eu mauris congue viverra
            eu ut augue. Aliquam sit amet consequat est. Donec accumsan ac tellus vel dictum.
        </p>
        <p>@Html.ActionLink("Learn more", "Index", "Offer", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Friendly</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat dui vel volutpat venenatis.
            Sed nec mauris venenatis, congue tellus quis, facilisis mi. Curabitur ac lorem eu mauris congue viverra
            eu ut augue. Aliquam sit amet consequat est. Donec accumsan ac tellus vel dictum.
        </p>
        <p>@Html.ActionLink("Learn more", "Index", "Offer", null, new { @class = "btn btn-default" })</p>
    </div>
</div>